// MDF CLASSes
.mg-bttm-sml {
  margin-bottom: 0.5rem;
}

.mg-bttm-mdm {
  margin-bottom: 1rem;
}

.mg-bttm-lar {
  margin-bottom: 1.5rem;
}

.mg-bttm-lar-2 {
  margin-bottom: 3rem;
}

.mg-bttm-lar-3 {
  margin-bottom: 5rem;
}

.body--lock {
  overflow: hidden;
}

.hide-transition_box {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s;
}

.hide-transition_sub-box {
  overflow: hidden;
}

.hide-transition_box--active {
  grid-template-rows: 1fr;
}

.overlay--active {
  display: block;
}

.slider--active {
  transform: translateX(0%);
}
