*,
*::after,
*::before {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

span {
  display: block;
}

img,
picture,
video,
svg,
canvas {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font: inherit;
}

input,
textarea,
select {
  font: inherit;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

:root {
  --body-bk-clr: hsl(0, 0%, 100%);
  --overlay-bk-clr: hsla(0, 0%, 0%, 0.8);
  --cart-and-qty-bk-clr: hsl(244, 98%, 80%);
  --item-bk-clr: hsl(60, 18%, 91%);
  --slider-bk-clr: hsl(40, 3%, 20%);
  --addtocart-bk-clr: hsl(40, 3%, 20%);
  --close-btn-bk-clr: hsl(0, 0%, 93%);
  --checkout-btn-bk-clr: hsl(48, 89%, 48%);
  --shipping-icon-clr: hsl(196, 95%, 52%);
  --payment-icon-clr: hsl(167, 100%, 36%);
  --certified-icon-clr: hsl(48, 100%, 67%);
  --trophy-icon-clr: hsl(231, 64%, 73%);

  --addtocart-text-clr: hsl(0, 0%, 93%);

  // DETAIL PAGE
  --detail-page-cko-btn-bk-clr: hsla(0, 4%, 82%, 0.7);
  --detail-page-atc-btn-bk-clr: hsl(0, 0%, 18%);

  // COMMON Clr
  --black-clr: hsl(0, 0%, 0%);
  --white-clr: hsl(0, 0%, 100%);

  // FONT-SIZE
  --primary-title-fs: 1.75rem;
  --secondary-title-fs: 1.25rem;
  --third-title-fs: 2.25rem;
  --detail-primary-title-fs: 3rem;
  --detail-price-fs: 1.5rem;
  --similar-title-fs: 2.25rem;
  --item-price-fs: 1.25rem;
  --para-fs: 1rem;
}

body {
  min-height: 100dvh;
  position: relative;
  isolation: isolate;
  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
