@media only screen and (max-width: 500px) {
  .products {
    &__container {
      // grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
      justify-content: center;
      grid-template-columns: minmax(150px, 350px);
    }
  }

  .secondary--title {
    font-size: 1.35rem;
  }

  .item {
    gap: 1.25rem;

    &__price {
      font-size: 1.35rem;
    }

    .atc__btn {
      font-size: 1.11rem;
      padding: 0.5rem 1.75rem;
    }

    .quantity {
      &__input {
        width: 10rem;
        padding: 0.35rem 0rem;
      }

      &__btn {
        font-size: 1.5rem;
      }
    }
  }

  // SLIDER
  .slider {
    .checkout {
      padding-inline: 0.25rem 0.5rem;

      &__btn {
        font-size: 1.25rem;
      }

      &__qty {
        font-size: 0.95rem;
        padding: 0.25rem 0.5rem;
      }
    }

    &__btn {
      & > * {
        padding: 1.25rem 0rem;
      }
    }
  }
}
