.detail {
  &__header {
    gap: var(--detail-header-gap);
  }

  &__product {
    gap: var(--detail-product-gap);
    position: relative;
    z-index: 70;
  }

  &__sub-product {
    gap: var(--detail-sub-product-gap);
  }

  &__btnBox {
    justify-content: flex-start;
  }

  &__ckoBtn,
  &__atcBtn {
    text-transform: capitalize;
    font-size: var(--cko-and-atc-btn-fs);
    padding: var(--cko-and-atc-padding);
    border-radius: 100px;
  }

  &__ckoBtn {
    background-color: var(--detail-page-cko-btn-bk-clr);
  }

  &__atcBtn {
    background-color: var(--detail-page-atc-btn-bk-clr);
    color: var(--white-clr);
    gap: var(--atc-btn-gap);
  }

  .atc__icon {
    font-size: var(--atc-icon-fs);
  }

  &__features {
    .features {
      flex-wrap: wrap;

      &__item {
        flex: 1 1 200px;
        text-wrap: nowrap;
      }

      &__shipping > i {
        color: var(--shipping-icon-clr);
      }

      &__payment > i {
        color: var(--payment-icon-clr);
      }

      &__certified > i {
        color: var(--certified-icon-clr);
      }

      &__trophy > i {
        color: var(--trophy-icon-clr);
      }

      &__icon {
        font-size: var(--feature-icon-fs);
      }

      &__text {
        font-size: var(--feature-text-fs);
      }
    }
  }
}
