.cart__btn {
  background-color: var(--cart-and-qty-bk-clr);
  padding: var(--header-cart-btn-padding);
  border-radius: 100px;
}

.cart__icon {
  font-size: var(--header-cart-icon-fs);
}

.qty {
  font-size: var(--qty-fs);
}
